# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.env/
captures/
node_modules

# Temporary files
sync_defect_image
uploads
dataset

# Checkpoint files
*.onnx
*.pt
*.blob