torch
torchvision
opencv-python
numpy
pydantic
psutil
matplotlib
Pillow
requests
pandas
polars
tqdm
scipy
pyyaml
nvidia-ml-py
thop
mss
pytubefix
pafy
yt_dlp
faster-coco-eval
pi-heif
shapely
fastapi[standard]
uvicorn
python-multipart